
.custom-padding-breadcrumbs{
    padding-top: 1%;
}
.custom-bottom-padding-card{
    padding-bottom: 1%;
}
.custom-margin-question-options{
    margin-left: 1%;
    margin-bottom: 2%;
}
.custom-timer-margin{
    margin-left: 50%;
}